<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="reportPortal"
      type="EPAM.ReportPortal.Addins.NUnit.ReportPortalSection, EPAM.ReportPortal.Addins.NUnit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <reportPortal enabled="true" logConsoleOutput="true">
    <server url="https://rp.epam.com/reportportal-ws/api/v1/" project="EPM-FARM">
      <authentication username="vitali_shulha" password="439dc228-d9c7-42a0-b3cd-93cd439dfe39"/>
    </server>
    <launch name="NUnit" debugMode="false" tags=""/>
  </reportPortal>
</configuration>