<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="reportPortal" type="EPAM.ReportPortal.Addins.NUnit.ReportPortalSection, EPAM.ReportPortal.Addins.NUnit" />
  </configSections>
  <reportPortal enabled="true" logConsoleOutput="true">
    <server url="https://reportportal.epmc-tst.projects.epam.com:8443/reportportal-ws/api/v1/" project="EPM-FARM">
      <authentication username="vitali_shulha" password="80674c80-9df0-4861-89f4-1b406a201865" />
    </server>
    <launch name="NUnit Demo Launch" debugMode="false" tags="t1,t2" />
  </reportPortal>
</configuration>